.app-container{
  margin-left: 30px;
  background-color: #edf6f9;
}

.title{
  color:#054e5b;
  text-align:center;
}


@media only screen and (max-width: 360px){
  .title{
    text-align: start;
  }
}